[buildout]
parts +=
    instance
    omelette
    zopepy
    pocompile
    checkversions
    i18ndude

versions = versions

extends =
    http://dist.plone.org/release/4.1-latest/versions.cfg
    http://good-py.appspot.com/release/plone.app.theming/1.0b9?plone=4.1.4
    lxml.cfg

find-links =
    http://dist.plone.org/release/4.1
    http://dist.plone.org/thirdparty
    http://download.zope.org/distribution/

extensions =
    mr.developer
    buildout.dumppickedversions

develop = .

[instance]
recipe = plone.recipe.zope2instance
blob-storage = ${buildout:directory}/var/blobstorage
user = admin:admin
http-address = 8080
debug-mode = on
verbose-security = on
eggs =
    Plone
    plone.reload
    PILwoTK
    tn.brokerbundle

zcml =
environment-vars = zope_i18n_compile_mo_files true

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}
packages = ./

[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
scripts = zopepy

[pocompile]
recipe = zc.recipe.egg
eggs = zest.pocompile

[checkversions]
recipe = zc.recipe.egg
eggs = z3c.checkversions [buildout]

[i18ndude]
recipe = zc.recipe.egg
eggs = i18ndude
